* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #808080;
  line-height: 26px;
}

img {
  display: block;
  width: 100%;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.logo img {
  width: 70px;
}

li.nav-list-item {
  display: inline;
  padding: 0px 20px;
}

li.nav-list-item a {
  color: white;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

header {
  right: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.4s linear;
  z-index: 2;
}

header.active {
  position: fixed;
  background-color: #19181a;
  top: -43px;
}

header.active li.nav-list-item a {
  color: #cebc81;
}

.topbar-container {
  max-width: 60%;
  margin: 0 auto;
}

.topbar-flex {
  display: flex;
  justify-content: space-between;
}

.topbar-width a {
  color: white;
}

.topbar-width p i {
  color: white;
  margin-right: 5px;
}

.topbar-width p {
  display: flex;
}

section.topbar-section {
  background: rgb(25 24 26 / 40%);
  padding: 10px 0px;
}

.banner-main {
  background: url("/images/banner.jpg");
  height: 100vh;
  background-size: contain;
  background-position: center;
}

.banner-main {
  position: relative;
}

.banner-main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.6);
}

.index-welcome-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.index-welcome-left {
  width: 60%;
}

.index-welcome-right {
  width: 40%;
}

.welcome-content {
  max-width: 80%;
}

section.index-welcome-section {
  margin: 60px 0px;
}

.welcome-content h2 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

.welcome-owner-credential h3 {
  color: black;
}

.welcome-content {
  margin-bottom: 30px;
}

.service-count-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.service-count-width {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.service-count-image img {
  width: 80px;
  filter: invert(1) brightness(2);
}

.service-count-stat h3 {
  font-size: 34px;
  font-weight: 400;
  color: #19181a;
}

.service-count-stat p {
  color: #19181a;
}

section.index-service-count-section {
  background: #00b9b6;
  padding: 60px 0px;
}

.index-special-services-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.special-services-left {
  width: 20%;
}

.special-services-right {
  width: 77%;
}

.special-services-left h2 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 40px;
  max-width: 80%;
  color: #cebc81;
}

.special-services-left p {
  /* color: #808080; */
  color: #cebc81;
  opacity: 0.8;
  line-height: 26px;
}

section.special-service-section {
  background: #19181a;
  padding: 70px 0px;
}

.my-services-carousel-item-image img {
  height: 200px;
}

.my-services-carousel-item-content h4 {
  margin-bottom: 20px;
  opacity: 0.8;
}

.my-services-carousel-item-content p {
  color: #808080;
}

.my-services-carousel-item-content {
  padding: 30px;
  background: white;
  min-height: 188px;
}

.item.my-services-carousel-item {
  margin-right: 30px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
}

.footer-logo img {
  width: 100px;
}

.footer-content p {
  max-width: 50%;
  color: #cebc81;
}

.footer-top {
  padding: 30px 0px;
  border-bottom: 1px solid grey;
}

.footer-bottom {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon {
  display: flex;
  gap: 15px;
}

.footer-icon a i {
  font-size: 20px;
  color: #cebc81;
}

footer {
  background: #19181a;
  padding: 20px 0px;
}

.footer-content {
  margin-top: 20px;
}

.footer-copyright p {
  color: #cebc81;
}

.hamburger {
  display: none;
}

/*............. 
Contact us
..............*/
.contact-banner {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/contact-us-banner.jpg");
  background-size: cover;
}

.contact-banner-heading {
  z-index: 1;
}

.contact-banner-heading h1 {
  color: white;
  font-size: 50px;
}

.contact-banner::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.6);
}

.contact-main-section {
  border-bottom: 1px solid rgba(56, 56, 56, 0.1);
}

.conatct-main-flex {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}

.contact-flex-left {
  width: 45%;
}

.contact-us-address {
  margin-bottom: 30px;
}

.contact-flex-right {
  width: 40%;
  background: #fbfafa;
  padding: 40px 40px;
}

form.contact-us-form {
  padding: 20px 0px;
}

.contact-flex-right h2 {
  font-size: 22px;
  font-weight: 600;
}

.contact-flex-right p {
  margin: 10px 0px;
}

.contact-form-input label {
  display: block;
  font-size: 14px;
}

.contact-form-input > input {
  width: 95%;
  margin: 10px 0px;
  border-radius: 70px;
  height: 45px;
  outline: none;
  border: 0.5px solid #e6e6e6;
  padding: 0px 10px;
}

.contact-form-input > textarea {
  resize: none;
  width: 95%;
  outline: none;
  border: 0.5px solid #e6e6e6;
  border-radius: 6px;
  margin: 10px 0px;
  height: 100px;
  padding: 10px;
}

.contact-form-btn button {
  width: 100%;
  padding: 15px 0px;
  border-radius: 70px;
  outline: none;
  border: none;
  background: #19181a;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.contact-form-input {
  margin-bottom: 10px;
}

.contact-form-input label b {
  color: #ff0000;
}

.contact-details-anchors {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.contact-details-anchors > li > h4 {
  color: #383838;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}

.contact-details-anchors > li {
  border: 1px solid rgb(0, 0, 0, 0.6);
  padding: 10px 10px;
  border-radius: 9px;
  transition: all 0.4s ease-in-out;
}

.contact-details-anchors > li > a {
  color: black;
  font-weight: 600;
}

.contact-details-anchors > li:hover {
  background: #19181a;
  border: 1px solid #19181a;
  cursor: pointer;
}

.contact-details-anchors > li:hover a {
  color: white;
}

.contact-details-anchors > li:hover h4 {
  color: white;
  opacity: 0.4;
}

.contact-details-address1 h3 {
  font-size: 17px;
  font-weight: 600;
}

.contact-details-address1 p:nth-child(2) {
  max-width: 63%;
}

.contact-details-address1 {
  margin-bottom: 20px;
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 20px;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-talk h2 {
  font-size: 46px;
  margin-bottom: 10px;
  font-weight: 600;
}

.contact-talk h2 b {
  color: #19181a;
  font-weight: 600;
}

.contact-details-address1 p {
  color: rgba(99, 114, 130, 1);
}

.contact-talk p {
  color: rgba(99, 114, 130, 1);
}

.contact-flex-right p {
  color: rgba(99, 114, 130, 1);
}

/*................. 
Our Services Page
..................*/
.service-banner {
  background: url("/images/service-banner.jpg");
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
}

.service-banner::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.6);
}

.service-banner h1 {
  font-size: 50px;
  color: white;
  z-index: 1;
}

.service-content p {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.service-content {
  margin: 60px 0px;
}

.all-service-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 30px;
}

.all-service-width {
  width: 48%;
  margin-bottom: 50px;
  padding-top: 20px;
  position: relative;
}

.all-service-name {
  margin-bottom: 20px;
}

.all-service-name p {
  font-size: 24px;
  color: black;
}

.all-service-thumnail {
  position: relative;
  overflow: hidden;
}

.all-service-thumnail::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.2);
}

.all-service-thumnail img {
  height: 270px;
  object-fit: cover;
  object-position: top;
}

.all-service-width::before {
  content: "";
  width: 10%;
  height: 3px;
  background: #19181a;
  position: absolute;
  top: 0;
}

.all-service-thumnail:hover img {
  transform: scale(1.2);
}

/*............. 
About Us
...............*/
.gallery-banner {
  background: url("/images/about-us-banner.jpg");
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-banner::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
}

.gallery-banner h1 {
  font-size: 50px;
  color: white;
  z-index: 1;
}

.gallery-slider-main {
  margin: 40px 0px;
}

.gallery-slider-heading {
  margin: 30px 0px;
}

.gallery-slider-heading h2 {
  font-size: 30px;
  text-align: center;
  opacity: 0.8;
}

.my-gallery-carousel-item-image {
  height: 400px;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 40px;
  background: rgb(25 24 26);
  z-index: 1;
}

.whatsapp-btn a {
  color: white;
  display: flex;
  gap: 0px 7px;
  align-items: center;
}

.whatsapp-btn > a > i {
  font-size: 20px;
}

.index-welcome-right img {
  height: 400px;
}

/*.................................. 
        For Larger Screen
....................................*/
@media (min-width: 1600px) {
  .container {
    max-width: 70%;
  }
}

/*................................. 
            For Ipad Pro
...................................*/
@media (max-width: 1365px) {
  .banner-main {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*.................................. 
            For Ipad
....................................*/
@media (max-width: 1023px) {
  .topbar-section {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    background: #19181a;
  }

  header.active {
    top: 0;
  }

  .container {
    max-width: 90%;
  }

  nav.navbar {
    position: fixed;
    top: -30%;
    height: 30%;
    width: 100%;
    background: #19181a;
    left: 0;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav.navbar.active {
    top: 7%;
  }

  li.nav-list-item {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  li.nav-list-item a {
    color: white;
  }

  ul.nav-list {
    margin-top: 20px;
  }

  .hamburger {
    display: block;
  }

  .hamburger button span {
    width: 30px;
    height: 3px;
    display: block;
    margin-bottom: 5px;
    background: white;
  }

  .hamburger button {
    background: transparent;
    border: none;
  }

  .banner-main {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  div.hamburger > button.active > span:nth-child(2) {
    display: none;
  }

  div.hamburger > button.active > span:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  div.hamburger > button.active > span:nth-child(3) {
    transform: rotate(45deg) translate(0px, 1px);
  }

  .index-welcome-left {
    width: 100%;
  }

  .welcome-content h2 {
    font-size: 36px;
  }

  .index-welcome-right {
    width: 100%;
    margin-top: 40px;
  }

  .service-count-width {
    width: 90%;
    margin-bottom: 30px;
    gap: 100px;
  }

  .service-count-flex {
    flex-direction: column;
  }

  .special-services-left {
    width: 100%;
    margin-bottom: 30px;
  }

  .special-services-right {
    width: 100%;
  }

  .footer-content p {
    max-width: 100%;
  }

  .footer-bottom {
    display: block;
  }

  .footer-copyright p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .welcome-content {
    max-width: 100%;
  }

  .logo img {
    width: 50px;
  }

  section.banner-section {
    margin-top: 70px;
  }

  .item.my-services-carousel-item {
    margin: 20px;
  }

  /*................... 
    For Contact Us Page  
  .....................*/
  section.contact-banner-section {
    margin-top: 80px;
  }

  .contact-banner {
    height: 50vh;
    background-position: right;
  }

  .conatct-main-flex {
    flex-wrap: wrap;
  }

  .contact-flex-left {
    width: 100%;
    margin: 0 auto;
  }

  .contact-flex-right {
    width: 100%;
    padding: 30px 20px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .contact-form-input > input {
    max-width: 100%;
  }

  .contact-form-input > textarea {
    max-width: 100%;
  }

  .contact-form-btn button {
    width: 95%;
  }

  .contact-google-map > iframe {
    width: 330px;
    height: 280px;
  }

  .contact-details-anchors li {
    width: 100%;
  }

  form.contact-us-form {
    flex-wrap: wrap;
  }

  .contact-form-input {
    width: 100%;
  }

  .contact-details-anchors {
    flex-wrap: wrap;
  }

  .contact-details-anchors li:nth-child(2) {
    margin-top: 20px;
  }

  .contact-google-map > iframe {
    width: 100%;
  }

  /*.................
  For Services Page 
  ...................*/
  .service-banner {
    height: 50vh;
    margin-top: 80px;
  }

  .service-content {
    margin: 40px 0px;
  }

  .all-service-width {
    width: 100%;
  }

  /*................. 
  For Gallery Page
  ...................*/
  .gallery-banner {
    height: 50vh;
    margin-top: 80px;
  }

  .my-gallery-carousel-item-image {
    height: 280px;
  }

  .my-gallery-carousel-item-image img {
    object-fit: cover;
    height: 100%;
  }
}

/*.....................................
            For Mobile Phones
.......................................*/
@media (max-width: 767px) {
  nav.navbar.active {
    top: 9%;
    z-index: -1;
  }
  .logo img {
    width: 50px;
  }

  .item.my-services-carousel-item {
    margin: 0;
  }
}
